---
---

body {
  font-family: monospace;
  margin: 15px;
  font-size: 120%;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  padding-bottom: 10px;

  .wrapper {
    width: 700px;
    margin: 0 auto;

    div {
      float: left;
    }

    .title-container {
      font-weight: bold;
      font-size: 10px;
    }
  }
}

.page-content {
  max-width: 100%;
  margin: 0 auto;

  .robot {
    font-size: 50%;
  }

  ol {
    margin: 0 40px;
    li p:first-child {
      font-weight: bold;
    }

    p, li {
      line-height: 130%;
    }
  }
}

.robot {
  line-height: 100%;
  text-align: left;
}

.last-robot {
  margin: 0 auto;
  width: 220px;
}

footer {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  body {
    margin: 0 10px 10px 0px;
    font-size: 100%;
  }
  header {
    .wrapper {
      .title-container {
        display: none;
      }
    }
  }
  .page-content {
    ol {
      margin: 0;
    }
  }
}
